################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructure/obj
/DataStructureTests/obj
/StackQueue/obj
/StringOperation/obj
/DataStructure/DataStructure.Tests/obj/Debug/DataStructure.Tests.csproj.CoreCompileInputs.cache
/DataStructure/DataStructure.Tests/obj/Debug/DataStructure.Tests.csproj.CopyComplete
/DataStructure/DataStructure.Tests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/DataStructure/DataStructure.Tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/DataStructure/DataStructure.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/DataStructure/DataStructure.Tests/bin/Debug/DataStructure.Tests.pdb
/DataStructure/DataStructure.Tests/bin/Debug/DataStructure.Tests.dll
/DataStructure/DataStructure.Tests/bin/Debug/DataStructure.pdb
/DataStructure/DataStructure.Tests/bin/Debug/DataStructure.dll
/DataStructure/.vs/DataStructure/v16/TestStore/0/testlog.manifest
/DataStructure/.vs/DataStructure/v16/TestStore/0/000.testlog
/DataStructure/.vs/DataStructure/v16/.suo
/DataStructure/DataStructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataStructure/DataStructure/obj/Debug/DataStructure.pdb
/DataStructure/DataStructure/obj/Debug/DataStructure.dll
/DataStructure/DataStructure/obj/Debug/DataStructure.csprojAssemblyReference.cache
/DataStructure/DataStructure/obj/Debug/DataStructure.csproj.FileListAbsolute.txt
/DataStructure/DataStructure/obj/Debug/DataStructure.csproj.CoreCompileInputs.cache
/DataStructure/DataStructure/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
*.pdb
*.dll
*.cache
*.txt
