################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructure/obj
/DataStructureTests/obj
/StackQueue/obj
/StringOperation/obj
